* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: aliceblue;
  color: rgb(21, 21, 21);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem auto;
  font-size: 25px;
}

h1 {
  margin-bottom: 10px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background: rgb(233, 233, 233);
}
